.cl { clear: both; overflow: hidden; }
.fl { float: left; }
.fr { float: right; }
a { text-decoration: none; }
body { font: 14px/1.5 arial, '\5FAE\8F6F\96C5\9ED1', "Hiragino Sans GB", "Hiragino Sans GB W3", \5b8b\4f53;  background:url(../images/admin_bg.gif);}

#header{ width:100%; height:80px; background:#2359a7; min-width:1100px;}
#header .header{height:80px;}
.header .logo{ width:200px; height:80px; background:url(../images/admin.png) no-repeat; display:block; border-right:1px solid #183e73;}
.top_menu{ height:80px; display:block;}
.top_menu li a{ width:120px; height:80px; display:block; padding-right:1px; background:url(../images/admin.png) no-repeat -210px 0; text-align:center; line-height:80px; color:#fff; text-shadow: 1px 1.732px 1px rgb( 0, 0, 0 );
}
.top_menu li{ width:121px; height:80px; display:block; float:left;}
.top_menu li a:hover{ background-position:-341px 0;}
.top_menu li a span{ padding:1px 8px; background:#fd7821; border-radius:300px; font-size:12px;  text-shadow: none; margin-left:5px;}
.top_menu li a.on{ background:url(../images/admin.png) no-repeat -341px 0;}

.user_menu{ width:120px; height:14px; margin:19px 0; background:url(../images/admin.png) no-repeat 78px -90px; padding:14px 0; margin-right:50px; position:relative;}
.user_menu a.user_role{ width:60px; height:14px; display:block; background:url(../images/admin.png) no-repeat -52px -90px; line-height:14px; color:#fff;}
.user_menu a.user_role:hover{ background-position:-52px -118px; color:#fd7821;}
.user_menu_c{ width:86px; height:78px; display:block; padding:14px 7px; background:url(../images/admin.png) no-repeat 0 -152px; position:absolute; top:30px; left:-16px; display:none;}
.user_menu_c li{ width:86px; height:14px; line-height:14px; padding:12px 0; text-align:center; display:block;}
.user_menu_c li a{ color:#666;}
.user_menu_c li a:hover{ color:#fd7821;}
.user_menu:hover .user_menu_c{ display:block;}

.sidebar{ width:200px; height: auto; background:#f8f9fd; border-right:1px solid #cfd5e6; float:left;}
.l_menu li{ overflow:hidden;}
.l_menu li a{ width:200px; height:50px; display:block; background:#f8f9fd;  border-bottom:1px solid #dae1f1; color:#535353; font-size:14px; line-height:50px; text-align:center;}
.l_menu li a:hover{ background:#dae1f1;}
.l_menu li a.on{ background:#598CD6; color:#fff;}
.l_menu li a i{ margin-right:10px; width:12px; height:14px; display:inline-block;}
.icon-angle-right{ margin-right:0; margin-left:15px; font-size:14px;}

.main{ margin-left:201px; height:100%; min-width:899px;}
.main_menu{width:100%; height:50px; background:#FFF; border-bottom:1px solid #cfd5e6;}
.r_menu{ overflow:hidden; display:block; float:left; width:100%; min-width:899px;}
.r_menu li{ width:120px; height:51px; float:left;}
.r_menu li.fr{ float:right;}
.r_menu li a{ width:120px; height:49px; line-height:50px;  display:block; text-align:center; color:#535353;}
.r_menu li a.on{ border-bottom:2px solid #1b4887;}

.add_article{ width:90px; height:30px; background:url(../images/admin.png) no-repeat 0 -268px; border:none; outline:none; color:#fff; font-size:12px; cursor:pointer; margin:10px 18px 11px 0; float:right;}

.main_c{  overflow:hidden; margin:18px; background:#FFF; padding:15px 25px;}
.main_t{ width:100%;  border:none; font-size:12px;}
.main_t tr{ height:50px; border-bottom:1px dashed #eaeaea;}
.main_t tr:hover{ background:#f8f8f8;}
.main_t td{ text-align:center;  border:none;}
.width50{ width:50px;}
.width350{ width:350px;}
.width130{ width:130px;}
.width191{ width:191px;}
.t_title{ font-weight:bold; font-size:14px; color:#333;}
.main_t .a_title{ text-align:left; text-indent:20px;}
a.t_nav{ margin:0 3px; color:#fff; background:#597aa7; padding:2px 4px; border-radius:2px;}
a.t_nav:hover{ background:#fd7821;}
tr.t_title:hover{ background:none;}

/****弹窗样式***/
.tcbox{ width:800px; overflow:hidden; border-radius:4px; outline:none;}
.tc_title{ height:40px; background:url(../images/admin_tc_bg.png); padding:0 15px;}
.tc_title span{ float:left; line-height:40px; color:#fff;}
.tc-close{ width:24px; height:24px; display:block; background: url(../images/admin.png) no-repeat 0 -308px; margin:8px 0; float:right;}

.tc_content{ height:auto; overflow:hidden; background:#FFF; padding:20px 20px;}
.tc_span01{ float:left; margin-right:10px;}
.input01{ border: 1px solid #ccc; vertical-align: middle; height: 20px; padding: 4px 10px; border-radius: 4px; display: inline-block; float: left; }
.tc_p01 {line-height: 30px; display: block; color: #252525; margin-bottom: 12px; clear: both; overflow: hidden;}
.tc_p02 {line-height: 30px; display: block; color: #252525; clear: both; overflow: hidden; } /**学校检索**/
.editor{ margin-left:70px; width:660px; height:300px; border:1px solid #ccc; margin-bottom: 12px; resize:none;}
.tc_btn{ margin:20px 0 10px 70px; overflow:hidden;}
.tc_btn input{ cursor:pointer;}
.tc_submit { width: 90px; height: 30px; font-size: 12px; line-height: 30px; display: block; float: left; background:url(../images/admin.png) no-repeat 0 -268px; color: #fff; border:none; outline:none;}
.tc_submit2 { width: 90px; height: 30px; font-size: 12px; line-height: 30px; display: block; float: left; background:url(../images/admin.png) no-repeat -100px -268px; color: #fff; border:none; outline:none;}



.width300{ width:300px;}
.width200{ width:200px;}
.width97{ width:97px;}
.width180{ width:180px;}
.left100{ margin-left:100px;}
.left20{ margin-left:20px;}
.left10{ margin-left:10px;}
.left60{ margin-left:60px;}
.width500{ width:500px;}

/****站点信息****/
.position_t{ font-size:18px; display:inline-block; line-height:50px; color:#333; margin-left:25px; font-weight:bold; color:#2359a7; float:left;}
.position_t a{ color:#2359a7;}
.position_t a:hover{ color:#fd7821;}
.position_t span{ margin:5px;}
.p2{ font-size:16px; padding:8px 0;}
.p2 b{ color:#333; text-align:right; width:80px; display:inline-block;}
.p2 span{ margin-left:10px;}
.tc_span02{float:left; margin-right:10px; width:60px; display:inline-block; text-align:right; height:30px;}

/****友情链接****/
.select01{ width:322px; height:30px; display:inline-block; border:1px solid #ccc; border-radius:4px; float:left; padding-left:4px;}
.select02{ width:211px; height:30px; display:inline-block; border:1px solid #ccc; border-radius:4px; float:left; padding-left:4px;}

/****学校专栏****/
.school_type{ display:inline-block; float:left; margin:0 20px;}
.school_type label{ margin-right:10px;}
.search01{ width:80px; height:30px; border:none; background:#2359a7; color:#fff; outline:none; border-radius:4px; cursor:pointer; margin-left:20px;}
.search01:hover{ background:#597aa7}
.left0{ margin-left:0;}
.right15{ margin-right:15px;}

.no_reply{ color:#d62c2d;}

.textarea2{ width:668px; border: 1px solid #ccc; padding:6px 10px; border-radius: 4px;  display: inline-block; float: left; resize: none; height:60px; line-height:20px;}
.la{ height:80px; overflow-y:scroll;}
.leader_img{ width:60px; height:69px; display:block; margin:10px auto; border-radius:4px;}
.tips{ color:#666;}

.textarea3{ width:300px; height:180px; border: 1px solid #ccc; vertical-align: middle; padding: 6px 10px; border-radius: 4px; display: inline-block; float: left; resize: none;}

.tc_span03{float:left; margin-right:10px;display:inline-block; text-align:right; height:30px;}
.tc_p03 {line-height: 30px; display: block; color: #252525; clear: both; } /**学校检索**/
.school_type01{ display:inline-block; float:left;}
.school_type01 label{ margin-right:10px;}

/**分页样式**/
.pagination{ margin:25px 0; overflow:hidden;}
.pagination ul li{ display:inline-block; margin-right:6px;}
.pagination ul li a{ font-size:12px; color:#666666; background:#fff; padding:6px 8px; line-height:12px; border:1px solid #ccc; display:inline-block; border-radius:2px; -webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.pagination ul li a:hover{ border:1px solid #2359a7; color:#2359a7;}
.pagination ul li a.on{ background:#2359a7; border:1px solid #2359a7; color:#fff; font-weight:bold;}
.pagination ul li a.more{ border:1px solid #fff; cursor:text;}